$color-branco: #ffffff;


$color-primaria: #e757e7;
$color-secundaria: #5252d1;
$color-tercearia: #62e75e;
$color-quartenaria: #fd0000;



$font-h1: 70px;
$font-h2: 30px;

$social-media-icons: 30px;

$btn-radius: 20px;
